.cell{
    width: 200px;
    height: 200px;
    border: 2px solid orangered;
    box-shadow: 0 0 0 2px orangered;
    line-height: auto;
    font-size: 100px;
    text-align:center;
    background:#fff;
}
.cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 606px;
    margin: auto;
  }

body {
    background-image: url(https://wallpaperaccess.com/full/176018.jpg);
}